@import "~animate.css/source/_vars.css"
@import "~animate.css/source/_base.css"
@import "~animate.css/source/attention_seekers/wobble.css"

html, body,
#app,
#home
  height 100%

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@import "icon.styl"
